.idx {
    text-align: right;
}

.bottomArticle {
    color: #ffff00
}

.c30 { /* foreground-black */
    color: #000000;
}

.c31 { /* foreground-red */
    color: #cc0000;
}

.c32 { /* foreground-green */
    color: #00cc00;
}

.c33 { /* foreground-yellow */
    color: #cccc00;
}
.c34 { /* foreground-blue */
    color: #0000cc;
}
.c35 { /* foreground-magenta */
    color: #cc00cc;
}
.c36 { /* foreground-cyan */
    color: #00cccc;
}
.c37 { /* foreground-white */
    color: #cccccc;
}

.h30 { /* foreground-black */
    color: #000000;
}

.h31 { /* foreground-red */
    color: #ff0000;
}

.h32 { /* foreground-green */
    color: #00ff00;
}

.h33 { /* foreground-yellow */
    color: #ffff00;
}
.h34 { /* foreground-blue */
    color: #0000ff;
}
.h35 { /* foreground-magenta */
    color: #ff00ff;
}
.h36 { /* foreground-cyan */
    color: #00ffff;
}
.h37 { /* foreground-white */
    color: #ffffff;
}

.c40 {
    background-color: #000000;
}

.c41 {
    background-color: #cc0000;
}

.c42 {
    background-color: #00cc00;
}

.c43 {
    background-color: #cccc00;
}
.c44 {
    background-color: #0000cc;
}
.c45 {
    background-color: #cc00cc;
}
.c46 {
    background-color: #00cccc;
}
.c47 {
    background-color: #cccccc;
}

.rune {
    white-space: pre;
    height: 100%;
    display: inline-block;
}

.pull-right {
    float: right;
}
.extend {
    width: 100%;
}
