.idx {
    text-align: right;
}

.bottomArticle {
    color: #ffff00
}

.c30 { /* foreground-black */
    color: #000000;
}

.c31 { /* foreground-red */
    color: #aa0000;
}

.c32 { /* foreground-green */
    color: #00aa00;
}

.c33 { /* foreground-yellow */
    color: #aaaa00;
}
.c34 { /* foreground-blue */
    color: #0000aa;
}
.c35 { /* foreground-magenta */
    color: #aa00aa;
}
.c36 { /* foreground-cyan */
    color: #00aaaa;
}
.c37 { /* foreground-white */
    color: #aaaaaa;
}

.h30 { /* foreground-black */
    color: #000000;
}

.h31 { /* foreground-red */
    color: #ff0000;
}

.h32 { /* foreground-green */
    color: #00ff00;
}

.h33 { /* foreground-yellow */
    color: #ffff00;
}
.h34 { /* foreground-blue */
    color: #0000ff;
}
.h35 { /* foreground-magenta */
    color: #ff00ff;
}
.h36 { /* foreground-cyan */
    color: #00ffff;
}
.h37 { /* foreground-white */
    color: #ffffff;
}

.c40 {
    background-color: #000000;
}

.c41 {
    background-color: #aa0000;
}

.c42 {
    background-color: #00aa00;
}

.c43 {
    background-color: #aaaa00;
}
.c44 {
    background-color: #0000aa;
}
.c45 {
    background-color: #aa00aa;
}
.c46 {
    background-color: #00aaaa;
}
.c47 {
    background-color: #aaaaaa;
}

.rune {
    white-space: pre;
    height: 100%;
    display: inline-block;
}

.pull-right {
    float: right;
}
.extend {
    width: 100%;
}

.calc {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    z-index: -1;
    position: fixed;
    left: 0px;
    overflow-y: 0px;
    white-space: pre;
}

.input {
    height: 100%;
    padding: 0px 0px 0px 0px;
    outline-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.input:focus {
    outline: none;
}

.edit-span {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    outline-color: rgba(0, 0, 0, 0);
}

.recommend {
    font-size: x-large;
}

.recommend-input {
    width: 800px;
    height: 38px;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px 1px 1px 1px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.recommend-offset {
    margin-left: 2px;
}