module.exports = {
  BRAND: 'DevPtt',
  API_ROOT: 'http://localhost:3457',
  CLIENT_ID: 'test_client_id',
  CLIENT_SECRET: 'test_client_secret',
  TERM_URL: 'https://bbsdocker.github.io/PttChrome-static',
  LIST_LIMIT: 10,
}
