.root {
    background-color: navy;
}

.title {
    text-align: center;
    font-size: x-large;
}

.navbar-link {
    color: #ff8800;
    background: none;
    border: none;
}

.navbar-link:hover {
    color: #ffffff;
}

.logo {
    width: 32px;
    height: 32px;
}

.logo:hover {
    opacity: 0.7;
}